:root {
  --clr-dark: #242020;
  --clr-dark-best: #262223;
  --clr-dark-best-hover: #1a1617;
  --clr-light: #FFAF38;
  --clr-light2: #fff;
  --clr-light-hover: #bb7813;
  --clr-nav: #202125;

  --text-font: "Oswald Medium";
  --font-size: .9rem;
  --font-size-best: 36px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--clr-dark-best);
  font-family: var(--text-font), sans-serif;
  font-size: var(--font-size);
}

a.disabled {
  list-style: none;
  text-decoration: none;
  color: gray !important;
  pointer-events: none;
}

#social-media a.disabled div::before {
  background: unset;
  background-color: gray !important;
}

/* Banner ----------------------------------------------------------------------*/
#banner {
  height: 100vh;
  max-height: 790px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--clr-dark-best);
  color: var(--clr-light2);
  padding-top: 72px;
  max-width: 1500px;
  margin: auto;
}

.banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 7rem;
  text-align: center;
}

.banner-text h1 {
  color: var(--clr-light)
}

.banner-text *:is(h1, h3) {
  margin: 0;
  font-size: var(--font-size-best);
  margin-bottom: 1rem;
}

.banner-text h3 {
  line-height: 50px;
}

.banner-text input {
  padding: .7rem .1rem;
  padding-top: .5rem;
  text-align: center;
  font-size: 24px;
  font-variant: all-petite-caps;
  font-weight: 900;
  border-radius: 50px;
  width: 9rem;
  background: var(--clr-light);
  color: var(--clr-light2);
  border: none;
  outline: none;
  margin-top: 2rem;
  box-shadow: 0 0.2rem #f8d096;
  cursor: pointer;
  transition: .4s;
}

.banner-text input:hover {
  background: #b37e24;
}

.banner-image {
  margin-inline: auto;
}

#banner h3::before {
  content: open-quote;
}

#banner h3::after {
  content: close-quote;
}

/* Navigation ----------------------------------------------------------------------*/
nav {
  height: 72px;
  background: var(--clr-nav);
  width: 100%;
  margin: 0;
  position: fixed;
  font-family: var(--text-font), sans-serif;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  z-index: 100;
  color: var(--clr-light2);
  border-bottom: 1px solid var(--clr-light2)
}

nav a {
  transition: 0.4s;
  text-decoration: none;
  color: var(--clr-dark2);
  cursor: pointer;
  color: var(--clr-light2);
}

nav a:hover {
  text-decoration: none;
  color: var(--clr-light-hover);
}

nav ul,
nav>div {
  flex: 0 1 30%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav li {
  font-weight: 900;
  padding-inline: 8px;
  white-space: nowrap;
}

.text-logo {
  position: relative;
}

.text-logo div {
  font-variant: all-petite-caps;
  font-size: 1.75rem;
}

.text-logo div::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid var(--clr-light2);
  border-top: none;
  border-bottom: none;
  margin: auto;
  width: 100%;
  max-width: 12rem;
  background: hsl(0deg 0% 0% / 15%);
}

.active {
  color: var(--clr-light) !important;
}

.right-menu li {
  font-size: 18px;
  padding: 0 .7rem;
}

.right-menu {
  justify-content: flex-end;
}

/* Contact-Message ----------------------------------------------------------------------*/
#contact-message {
  z-index: 1000;
  position: fixed;
  right: 2rem;
  bottom: 0;
  background: var(--clr-nav);
  color: white;
  border: 1px solid white;
  border-bottom: none;
  padding: 1rem 1.5rem;
  padding-bottom: 0.75rem;
  font-style: italic;
  font-family: serif;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}

#contact-message:hover {
  background: var(--clr-dark-best-hover);
}

/* slideouts ----------------------------------------------------------------------*/
#slideouts {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-nav);
  z-index: 100;
}

#slideouts>div {
  height: 100%;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: var(--clr-light2);
}

#slideouts a {
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-light2);
}

#slideouts a:hover {
  color: var(--clr-light-hover)
}

#slideouts i {
  transition: .4s;
  cursor: pointer;
}

#slideouts i:hover {
  color: var(--clr-light)
}

#slideouts ul {
  position: absolute;
  display: flex;
  top: 72px;
  background: var(--clr-nav);
  list-style: none;
  width: 100%;
  opacity: 0;
  transition: .4s;
}

.left-slideout-menu {
  flex-direction: column;
}

.right-slideout-menu {
  flex-direction: row;
  justify-content: space-around;
}

.left-slideout-menu li,
.right-slideout-menu li {
  text-align: center;
  padding: 1rem;
  font-size: 16px;
}

/* Sections ----------------------------------------------------------------------*/
section {
  padding-top: 100px !important;
}

/* Section: Our products */
#our-products {
  color: var(--clr-light2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25rem;
}

#our-products>h2 {
  color: var(--clr-light);
  font-size: 30px;
  margin-bottom: 1rem;
}

#slideshow {
  background: #1b1c2070;
  /* background: var(--clr-dark-best); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 50px;
  box-shadow: inset 0 0 4rem black;
  /* box-shadow: inset 0 0 1rem var(--clr-light); */
  border: 2px solid;
  padding-inline: 15%;
}

#slideshow>div {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  margin: 1rem 0;
  width: 180px;
  height: 250px;
  border-radius: 12px 12px 10px 10px;
  background: url("./img/background/jungle.png");
  background-size: cover;
  box-shadow: 0 0 1rem black;
  /* box-shadow: 0 0 1rem var(--clr-light); */
  color: var(--clr-light2);
  position: relative;
}

#slideshow>div::before {
  content: attr(weight);
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 70%);
  margin-top: 1.5rem;
  padding: .2rem;
  padding-inline: .5rem 1rem;
  border-radius: 5px 0 0 5px;
  font-size: 12px;
  color: white;
}

#slideshow>div::after {
  content: attr(title);
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 70%);
  margin-bottom: 1.5rem;
  padding: .2rem;
  padding-inline: .5rem 1rem;
  border-radius: 0 5px 5px 0;
  font-size: 12px;
  color: white;
}

#slideshow img {
  border-radius: 10px;
  object-fit: contain;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1rem black;
}

/* Section: Our history */
#our-history {
  color: var(--clr-light2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 25rem;
}

#our-history-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  line-height: 1.7rem;
}

#our-history h2 {
  color: var(--clr-light);
  font-size: 30px;
  margin-bottom: 1rem;
}

#our-history img {
  width: 300px;
  margin: 4rem 3rem;
  z-index: -1;
}

#our-history-img {
  position: relative;
}

#our-history-img::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  z-index: -1000;
  background: rgb(255, 175, 56);
  background: linear-gradient(-90deg, rgba(255, 175, 56, 1) 0%, rgba(109, 80, 42, 1) 31%, rgba(38, 34, 35, 1) 70%);
}

/* Section: FAQ */
#faq {
  color: var(--clr-light2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8rem;
}

#faq h2 {
  color: var(--clr-light);
  font-size: 30px;
  margin-bottom: 1rem;
}

#faq ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40rem;
}

#faq li {
  flex-basis: 4rem;
}

#faq li h3 {
  font-size: 19px;
}

#faq li h4 {
  font-size: 15px;
  font-weight: 400;
}

/* Section: Contact us */
#contact-us {
  color: var(--clr-light2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#contact-us>* {
  width: 50%;
}

#contact-us h2 {
  color: var(--clr-light);
  font-size: 30px;
}

#contact-us h3 {
  font-size: 23px;
}

#contact-us form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#contact-info>* {
  width: 30%;
}

#contact-info>*,
#sujet,
#btn-envoyer {
  padding: .6rem;
  font-size: 12px;
}

#contact-us :is(h2, h3),
#contact-info,
#sujet {
  margin-bottom: 1rem;
}

#sujet {
  width: 100%;
}

#btn-envoyer {
  display: flex;
  justify-content: center;
  width: 25%;
  min-width: fit-content;
  padding-top: 0.5em;
  text-align: center;
  /* font-size: 1em; */
  font-size: 15px;
  font-variant: all-petite-caps;
  font-weight: 900;
  border-radius: 5px;
  background: var(--clr-light);
  color: var(--clr-light2);
  border: none;
  outline: none;
  box-shadow: 0 0.2rem #f8d096;
  cursor: pointer;
  transition: .4s;
}

#btn-envoyer:hover {
  background: #b37e24;
}

#btn-envoyer::after {
  content: "\f30b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-left: .5em;
  padding-top: .09em;
}

/* Section: Newsletter */
#newsletter {
  color: var(--clr-light2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 7rem;
}

#newsletter>* {
  width: 100%;
  text-align: center;
  padding: .5rem;
}

#newsletter h2 {
  color: var(--clr-light);
  font-size: 30px;
}

#newsletter h3 {
  font-size: 23px;
}

#newsletter input {
  height: 2rem;
}

#newsletter input[type="text"] {
  width: 28.5rem;
  max-width: 90%;
  padding: .5rem;
  font-size: .8rem;
}

#newsletter input[type="button"] {
  margin-left: .5rem;
  font-size: .9rem;
  padding: 0 .5rem;
  background: var(--clr-light);
  color: var(--clr-light2);
  border: none;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 .2rem #f8d096;
  cursor:pointer;
}

#newsletter input[type="button"]:hover {
  background: var(--clr-light-hover);
}

/* Footer ----------------------------------------------------------------------*/
#footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding: 2rem 4rem 6rem 4rem;
}

.footer-cols {
  color: var(--clr-light2);
  display: flex;
  justify-content: space-between;
  /* border: 1px solid seagreen; */
}

.footer-cols div {
  /* border: 1px solid blue; */
  flex: 0 1 15%;
}

.footer-cols> :nth-child(1) {
  /* border: 1px solid red; */
  flex-basis: 35%;
}

.footer-cols> :nth-child(4) {
  /* border: 1px solid orange; */
  flex-basis: 25%;
}

.footer-cols h2 {
  color: var(--clr-light);
  font-variant: all-petite-caps;
  margin-bottom: 1rem;
  font-size: 30px;
}

.footer-cols :is(p, ul) {
  font-size: 18px;
}

#footer #social-media {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

#social-media>div {
  display: flex;
  justify-content: space-around;
  width: 10rem;
  margin-right: 12rem;
}

div#social-media a {
  margin-inline: 1rem;
}

.icon {
  font-size: 30px;
  width: 1em;
  height: 1em;
  place-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  position: absolute;
  display: grid;
  place-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: .3em;
  color: white;
}

.facebook::before {
  content: "\f39e";
  font-size: .8em;
  background: #3b5998;
}

.twitter::before {
  content: "\f099";
  background: #08a0e9;
  font-size: .6em;
}

.pinterest::before {
  content: "\f231";
  font-size: .8em;
  background: #bd081c;
}

.instagram::before {
  content: "\f16d";
  font-size: .9em;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

/* Media queries  ----------------------------------------------------------------------*/
/*
  Mobile S - 320px
  Mobile M - 375px
  Mobile L - 425px
  Tablet   - 768px
  Laptop   - 1024px
  Laptop L - 1440px
  4k       - 2560px
*/
/* Laptop L or larger*/
@media (min-width:1440px) {
  #faq {
    padding: 0 25rem;
  }
}

/* between Laptop and Laptop L */
@media (min-width:1024px) and (max-width:1439px) {
  #faq {
    padding: 0 16rem;
  }
}

/* Laptop L */
@media (max-width:1440px) {
  .banner-text {
    margin-top: -13rem;
  }

  nav {
    justify-content: center;
    font-size: 12.5px;
  }

  #our-history img {
    width: 250px;
  }
}

/* Laptop */
@media (max-width:1024px) {
  nav {
    font-size: 12px;
  }

  #banner {
    flex-direction: column;
    height: unset;
    align-items: center;
    max-height: unset;
  }

  .banner-text {

    padding-left: 0;
  }

  #banner>div {
    margin: 1rem auto;
  }

  #social-media>div {
    margin-right: 4rem;
  }

  #our-history {
    padding: 0 15rem;
  }

  #our-history-info p {
    font-size: 16px;
  }

  #our-history img {
    width: 150px;
  }

  #our-products {
    padding: 0 15rem;
  }

  #slideshow {
    padding-inline: 5%;
  }
}

/* Laptop or larger */
@media (min-width:1024px) {
  #slideouts ul {
    opacity: 0 !important;
    pointer-events: none;
  }
}

/* Tablet */
@media (max-width:768px) {

  #newsletter :is(h2, h3),
  #contact-us :is(h2, h3),
  #faq>h2 {
    font-size: 19px;
  }

  #faq h3 {
    font-size: 16px;
  }

  #faq h4 {
    font-size: 13px;
  }

  #newsletter input[type="text"] {
    width: 19.5rem;
    height: 2rem;
    font-size: .62rem;
  }

  #newsletter input[type="button"] {
    height: 2rem;
    padding: 0 .4rem;
    margin-top: 1rem;
  }

  /* Footer */
  .footer-cols h2 {
    font-size: 20px;
  }

  .footer-cols :is(p, ul) {
    font-size: 15px;
  }

  nav {
    display: none;
  }

  .banner-image {
    padding: 1rem;
    padding-top: 0 !important;
  }

  .banner-image img {
    width: 87%;
    margin: auto;
  }

  .banner-text {
    padding: 2rem;
    margin-top: 0;
    padding-bottom: 0 !important;
  }

  .banner-text :is(h1, h3) {
    font-size: 25px;
    margin-bottom: 0rem;
  }

  .banner-text h3 {
    line-height: 40px;
  }

  .banner-text input {
    font-size: 20px;
  }

  #contact-message {
    padding: .5rem;
  }

  #contact-us>* {
    width: 90%;
  }

  #our-history {
    padding: 0 7rem;
  }

  #our-products {
    padding: 0 7rem;
  }
}

/* Mobile L */
@media (max-width:425px) {

  #footer {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-cols {
    flex-wrap: wrap;
    padding: 0;
  }

  #footer .footer-cols>* {
    flex-basis: 50%;
    padding: 0 2rem 1rem 2rem;
  }

  #footer #social-media {
    justify-content: center;
  }

  #social-media>div {
    margin: 0;
  }

  #contact-info {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
  }

  #contact-info>* {
    width: 100%;
    height: 2rem;
  }

  #btn-envoyer {
    width: 100%;
    font-size: 1.5em;
  }

  #newsletter input[type="text"] {
    width: 100%;
    font-size: 12px;
  }

  #newsletter input[type="button"] {
    width: 90%;
    font-weight: 900;
    border-radius: 5px;
    background: var(--clr-light);
    color: var(--clr-light2);
    border: none;
    outline: none;
    box-shadow: 0 0.2rem #f8d096;
    cursor: pointer;
    transition: .4s;
    padding: .5rem 0 .5rem 0;
    height: 2rem;
    margin-left: 0;
  }

  #faq {
    padding: 0 2rem;
  }

  #faq ul {
    height: 60rem;
  }

  #our-history {
    flex-direction: column;
    padding: 0 1rem;
  }

  #our-history-img {
    display: flex;
    justify-content: center;
  }

  #our-history img {
    width: 250px;
  }

  #our-history-img::before {
    left: 0;
    bottom: 0;
    top: unset;
    width: 100%;
    height: 80%;
    background: rgb(255, 175, 56);
    background: linear-gradient(0deg, rgba(255, 175, 56, 1) 0%, rgba(109, 80, 42, 1) 31%, rgba(38, 34, 35, 1) 70%);
  }

  #our-products {
    padding: 0 1rem;
  }

  #slideshow {
    flex-direction: column;
  }
}

/* Mobile M */
@media (max-width:375px) {
  .footer-cols>* {
    padding-right: 0;
  }

  .text-logo div {
    font-size: 1.6rem;
  }

  #slideouts>div {
    padding: 1rem;
  }

}

/* Mobile S */
@media (max-width:320px) {
  #footer .footer-cols>* {
    flex-basis: 100%;
    padding: 0 2rem 1rem 2rem;
  }

  #faq ul {
    height: 75rem;
  }
}